.searchBar {
  width: 100%;
  padding: 10px 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-sizing: border-box;

  :global {
    .container {
      width: 100%;
      border-radius: 20px;
      height: 40px;
      background: rgb(var(--mdui-color-secondary-container));
    }
  }
}

.gradientButton {
  background: linear-gradient(90deg, #e0f7ff 0%, #e8eaff 50%, #f0e8ff 100%);
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(90deg, #4d4d4d 0%, #333333 50%, #1a1a1a 100%);
  }
}
