body, html {
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
}

.MuiStack-root {
  box-sizing: border-box;
}

.adm-nav-bar {
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}